<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>backtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{504,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,121}}</string>
                <key>sourceSize</key>
                <string>{504,121}</string>
            </dict>
            <key>resetBtn_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>resetBtn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>result_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{300,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,40}}</string>
                <key>sourceSize</key>
                <string>{300,40}</string>
            </dict>
            <key>result_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{236,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,40}}</string>
                <key>sourceSize</key>
                <string>{236,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>source.png</string>
            <key>size</key>
            <string>{1461,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9018f398932e92609d9ab7e8ac0fb557:d2b3c439298b7891b2f6d4fd204971d3:8f9c4a3af804f50e87352e751f4953c8$</string>
            <key>textureFileName</key>
            <string>source.png</string>
        </dict>
    </dict>
</plist>
